/OpenLaTeXStudio/EditorModule/build/
/OpenLaTeXStudio/RSyntaxTextArea/build/
/OpenLaTeXStudio/RSyntaxTextArea/nbproject/private/
/OpenLaTeXStudio/AutoComplete/build/
/OpenLaTeXStudio/pdfbox-app/nbproject/private/
/OpenLaTeXStudio/AutoComplete/nbproject/private/
/OpenLaTeXStudio/Commons-IO/build/
/OpenLaTeXStudio/dist/
/OpenLaTeXStudio/Commons-IO/nbproject/private/
/OpenLaTeXStudio/Apache-Commons-Exec/build/
/OpenLaTeXStudio/Apache-Commons-Exec/nbproject/private/
/OpenLaTeXStudio/build/