/OpenLaTeXStudio/EditorModule/nbproject/private/
/OpenLaTeXStudio/nbproject/private/
/OpenLaTeXStudio/build/
/OpenLaTeXStudio/Apache-Commons-Exec/build/
/OpenLaTeXStudio/AutoComplete/build/
/OpenLaTeXStudio/RSyntaxTextArea/build/
/OpenLaTeXStudio/Jackson-core/build/
/OpenLaTeXStudio/Commons-IO/build/
/OpenLaTeXStudio/dropbox-core-sdk/build/
/OpenLaTeXStudio/pdfbox-app/build/
/OpenLaTeXStudio/EditorModule/build/
/OpenLaTeXStudio/lib/
*checkstyle_report.xml
/OpenLaTeXStudio/Commons-IO/nbproject/private/
/OpenLaTeXStudio/Jackson-core/nbproject/private/
/OpenLaTeXStudio/AutoComplete/nbproject/private/